# S02 T01: Estructura de dades
## *Exercici 1 Definir llista*

In [2]:
listTrimestre=[["Gener","Febrer","Març"],["Abril","Maig","Juny"],["Juliol","Agost","Setembre"],["Octubre","Novembre","Dessembre"]]
print(listTrimestre)

[['Gener', 'Febrer', 'Març'], ['Abril', 'Maig', 'Juny'], ['Juliol', 'Agost', 'Setembre'], ['Octubre', 'Novembre', 'Dessembre']]

## *Exercici 2 Accedir als elements:*
* El segon mes del primer trimestre
* Els mesos del primer trimestre
* Setembre i octubre

In [4]:
print(listTrimestre[0][1])

Febrer

In [5]:
print(listTrimestre[0])

['Gener', 'Febrer', 'Març']

In [12]:
print(listTrimestre[2][2] + " " + listTrimestre[3][1] )

Setembre Novembre

## *Exercici 3*
**Crea una llista amb nombres desordenats i respon a les següents preguntes:**

* Quants números hi ha?
* Quantes vegades apareix el número 3
* Quantes vegades apareixen els nombres 3 i 4?
* Quin és el número més gran?
* Quins són els 3 números més petits?
* Quin és el rang d’aquesta llista?

In [50]:
listUnorder=[40,4,6,22,3,10,3,97,1,34,7,3,87,4,2,54,3,23,2]

In [51]:
print("Num elements : " + str(len(listUnorder)))

Num elements : 19

In [125]:
contador=0
for valor in listUnorder:
    if valor==3: contador+=1
print ("El nombre de vegades que apareix el 3 es : " + str(contador))

El nombre de vegades que apareix el 3 es : 4

In [129]:
contador3=0
contador4=0
for valor in listUnorder:
    if valor==3: contador3+=1 
    elif valor==4: contador4+=1

print ("El nombre 3 apareix "+  str(contador3) + " vegades \nEl nombre 4 apareix "+  str(contador4) + " vegades")

El nombre 3 apareix 4 vegades
El nombre 4 apareix 2 vegades

In [130]:
# Ordeno la llista , el màxim serà l'ultim element
listUnorder.sort()
print(listUnorder)
print(" El valor màxim es : " +str(listUnorder[len(listUnorder)-1]))

[1, 2, 2, 3, 3, 3, 3, 4, 4, 6, 7, 10, 22, 23, 34, 40, 54, 87, 97]
 El valor màxim es : 97

**Els tres mes petits sense tenir em compte els duplicats**

In [135]:

# De la lista ordenada , la recorro i descarto els duplicats 
# Creo una llista amb el tres menords
longitud=len(listUnorder)
tresMenors=[]
tresMenors.append(listUnorder[0])
index=1
while index<longitud and len(tresMenors)<3:
    if listUnorder[index]!=listUnorder[index-1]:
        tresMenors.append(listUnorder[index])
    index=index+1

print ("Els tres nombres mes petits son :" +  str(tresMenors))

Els tres nombres mes petits son :[1, 2, 3]

In [46]:
print(" El rang d'aquesta llista es de : " + str(listUnorder[0]) +  " a " + str(listUnorder[len(listUnorder)-1]))

 El rang d'aquesta llista es de : 3 a 97

## Exercici 4
**Crea un diccionari de la següent forma i respon a les preguntes:
compra = { "Pomes" : {"Qty": 5, "€": 0.42}, "Peres" : {"Qty": 3, "€": 0.66} }**

* Afegeix alguna fruita més
* Quant han costat les peres en total?
* Quantes fruites hem comprat en total?
* Quina és la fruita més cara?

In [103]:
compra = { "Pomes" : {"Qty": 5, "€": 0.42}, "Peres" : {"Qty": 3, "€": 0.66} }

***Afegeixo Platan i Taronja***

In [136]:
print (compra)
compra["Platan"]   = {"Qty" :12 , "€": 1.98}
compra["Taronja"]  = {"Qty" :20 , "€": 1.1}
print (compra)

{'Pomes': {'Qty': 5, '€': 0.42}, 'Peres': {'Qty': 3, '€': 0.66}, 'Platan': {'Qty': 12, '€': 1.98}, 'Taronja': {'Qty': 20, '€': 1.1}}
{'Pomes': {'Qty': 5, '€': 0.42}, 'Peres': {'Qty': 3, '€': 0.66}, 'Platan': {'Qty': 12, '€': 1.98}, 'Taronja': {'Qty': 20, '€': 1.1}}

In [105]:
costPeres=compra["Peres"]["Qty"]*compra["Peres"]["€"]
print(" El cost de les peres es " + str(costPeres))

 El cost de les peres es 1.98

***Itero la llista de compra i vaig sumant les quanttitats***

In [115]:
unitatsTotal=0
for article in compra:
    unitatsTotal=unitatsTotal+compra[article]["Qty"]

print(" El total de fruites es de  " + str(unitatsTotal))

 El total de fruites es de  40

***itero la llista i vaig agafant el producte que te el preu mes baix***

In [123]:
preu=0
articleCar={}
for article in compra:
    if compra[article]["€"]> preu:
        preu=compra[article]["€"]
        articleCar=article
 

print("La fruita mes cara es " + articleCar)

La fruita mes cara es Platan